.bg-blue{
    background-color: #3182d8;
    color: #fff;
    padding: 0 10em 0 10;
    
}

.navbar-nav li{
    padding: 10px 20px;
  }

.bg-yellow
{color: #fff;
    background-color: #ec9700;
    width: 100px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 16px;
}

.z1 {
  z-index: 1;

}

.z2 {
    z-index: 2;
}

.absolute {
    position: absolute;
}
#btn_scroll{
    z-index: 2; 
    top: 90vh;
    
}
.vertical-text{
    writing-mode: vertical-rl;
    margin-top: 3vh;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 3;
}
.nations{
    z-index: 1;
    top:20vh;
    right: 0vh;
    float: right;
}
#kanji1{
    z-index: 2; 
    top:0vh;
}
.yellow{
    background-color: #ec9700;
    font-weight: bold;
    
}
.judul{
    font-size: large;
    margin-top: -3vh;
}
.w-60{
    width: 60%!important;
}
body{
    background-color: pink;
}

#specialcontents{
    top:275vh;
    left:0vw;
    background-color: lightblue;
}
.spc1{
    margin-left:10vw;
}
.specials{
    top: 20vh; 
    right:0vw; 
    width:75vw;
    
}
.specials1{
    top: 40vh;
    width:45vw;
}
.specials2{     
    top: 50vh; 
    right:5vw; 
    width:45vw;
}
.specialtext{
    font-size: 110px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: -30;
    left:10vw;
    
}
.oswald {
    font-family: 'Oswald';
    font-weight: normal;
  }